@page
@model ProductsModel
@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-5">
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    <a href="/Products/Details/@product.Sku">
                        <img src="@product.ImagePath" alt="@product.Name" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/Products/Details/@product.Sku">@product.Name</a>
                        </h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

